{{ template "base" . }}

{{ define "title" }}
	<title>Home</title>
{{ end }}

{{ define "css" }}
	<style>
		p {
			font-family: 'Montserrat', sans-serif;
		}
		.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #ccc;
            opacity: .7; /* Firefox */
		}
	</style>
{{ end }}

{{ define "content" }}
	<div class="container">
		<div class="row m-3">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-4">

				{{ $search := index .Data "search" }}
				
				<!-- Search form by query -->
				<form action="/query" method="get">
					<input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
  					<div class="mb-3">

						<!-- Search: query input -->
						<div class="form-row mt-2">
							<div class="col">
								<input type="text" 
									class="form-control {{ with .Form.Errors.Get "query" }}is-invalid{{ end }}" 
									placeholder="Search.."  
									name="query"
									value="{{ $search.Query }}">

									{{ with .Form.Errors.Get "query" }}
										<div class="text-danger small ms-2">
									 		{{ . }}
										</div>
									{{ end }}

							</div>
						</div>

  					</div>

  					<button type="submit" class="btn btn-outline-primary">Search</button>
				</form>
			</div>

			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 p-4">
				<h1>Add search/query</h1>
				<p>
					<em>Search</em>: keyword or query phrase that describes or narrows the problem<br>
					<em>Link</em>: source that confirmes or shows solution to the problem<br>
					<em>Description</em>: short and consice answer from the source
				</p>
				<form action="/query" method="post">
					<input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
  					<div class="mb-3">

						<!-- Search: query input -->
						<div class="form-row mt-2">
							<div class="col">
								<input type="text" 
									class="form-control {{ with .Form.Errors.Get "query" }}is-invalid{{ end }}" 
									placeholder="Search.."  
									name="query"
									value="{{ $search.Query }}">

									{{ with .Form.Errors.Get "query" }}
										<div class="text-danger small ms-2">
									 		{{ . }}
										</div>
									{{ end }}
							</div>
						</div>

						<!-- Link: link to the source -->
						<div class="form-row mt-2">
								<div class="col">
										<input type="text"
											   class="form-control"
											   placeholder="Link.."
											   name="link"
											   value="">
								</div>
						</div>

						<!-- Description: short answer from the source -->
						<div class="form-row mt-2">
								<div class="col">
										<input type="text"
											   class="form-control"
											   placeholder="Description.."
											   name="desc"
											   value="">
								</div>
						</div>
						
  					</div>

  					<button type="submit" class="btn btn-outline-primary">Add search</button>

				</form>
			</div>

			<div class="col-lg-1 col-md-1"></div>
		</div>
	</div>
{{ end }}
