{{ template "base" . }}

{{ define "title" }}
	<title>Home</title>
{{ end }}

{{ define "css" }}
	<style>
		p {
			font-family: 'Montserrat', sans-serif;
		}
	</style>
{{ end }}

{{ define "content" }}
	<div class="container">
		<div class="row m-3">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-4">

				{{ $search := index .Data "search" }}
				
				<!-- Search form by: query, start, end date -->
				<form action="/search" method="post">
					<input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
  					<div class="mb-3">

						<!-- Search: query input -->
						<div class="form-row mt-2">
							<div class="col">
								<input type="text" 
									class="form-control {{ with .Form.Errors.Get "query" }}is-invalid{{ end }}" 
									placeholder="Search.."  
									name="query"
									value="{{ $search.Query }}">

									{{ with .Form.Errors.Get "query" }}
										<div class="text-danger small ms-2">
									 		{{ . }}
										</div>
									{{ end }}

							</div>
						</div>

  					</div>
  					<button type="submit" class="btn btn-outline-primary">Search</button>
				</form>
			</div>

			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 p-4">
				<h1>Home page</h1>
				<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
						when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				</p>
				<button id="toast" class="btn btn-outline-info">Click me</button>
			</div>
			<div class="col-lg-1 col-md-1"></div>
		</div>
	</div>
{{ end }}
