{{ template "dash" . }}

{{ define "title" }}
		<title>MyQ Searches</title>
{{ end }}

{{ define "css" }}
{{ end }}


{{ define "content" }}
		<div class="dash-wrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-4">
						<p>Left col</p>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-4">
						<p>Center column</p>
					</div>

					<div class="col-lg-2 col-md-2 p-4">
							<p>Right column</p>
					</div>

				</div>
			</div>
		</div>
{{ end }}
