{{ template "dash" . }}

{{ define "title" }}
		<title>MyQ Edit Search</title>
{{ end }}

{{ define "css" }}
		<style>
		</style>
{{ end }}

{{ define "content" }}
		<div class="col-lg-9 col-md-9 p-4">
				<p>Edit Search page</p>
		</div>
{{ end }}

{{ define "js" }}
{{ end }}
