{{ template "dash" . }}

{{ define "title" }}
		<title>MyQ Users</title>
{{ end }}

{{ define "css" }}
{{ end }}

{{ define "content" }}
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-4">
				<p>{{ index .Data "users" }}</p>
		</div>
{{ end }}
